<%= render 'layouts/custom/user_component', user: @user %>
<% @posts.each do |post| %>
  <%= render 'layouts/custom/post_component', post: post %>

  <div>
    <% if post.most_recent_comments.empty? %>
      <p>No comments have been writted to this post yet.</p>
    <% else %>
      <div class="comment-container">
        <% post.most_recent_comments.each do |comment| %>
          <%= render 'layouts/custom/comment_component', comment: comment %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

  <div style="display: flex; justify-content: center;">
    <a href="/users/<%= @user.id %>/posts" class="button">
      Pagination
    </a>
  </div>

<%= render "form_component" %>