<h1>Post</h1>
  <% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: name %>
  <% end -%>
<div class="post-div">
  <h3 class="post-title">
    <%= @post.title %>
  </h3>
    <p class="post-upper-right">Comments: 
      <% if @post.commentsCounter.nil? %>
          0
      <% else %>
          <%= @post.commentsCounter %>
      <% end %>
      , Likes: 
      <% if @post.likesCounter.nil? %>
          0
      <% else %>
          <%= @post.likesCounter %>
      <% end %>
    </p>
  <p><%= @post.text %></p>
</div>
<% if @comments.empty? %>
  <p>No comments have been writted to this post yet.</p>
<% else %>
  <div class="comment-container">
    <% @comments.each do |comment| %>
      <%= render 'layouts/custom/comment_component', comment: comment %>
    <% end %>
  </div>
<% end %>

<%= render 'comments/comments_component' %>
<%= render 'likes/likes_component' %>